/*.background {
  background: center no-repeat url(background.png);
}*/

.logo {
  background-image: url(background.png) no-repeatcenter center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}
